body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  margin: 20px;
}

.nav {
  margin: 10px;
}

.time-offs-by-day{
  border: 4px solid #000;
}

.time-off-day{
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.time-off-day-head{
  border-bottom: 2px solid #666;
}

.time-off-details{
  border: 1px solid #999;
  margin: 5px;
  padding: 5px;
}

.text-center{
  text-align: center;
}
